<option value="DONT KNOW" data-country="DONT KNOW">DONT KNOW</option>
<option value="abb" data-country="Switzerland">ABB</option>
<option value="acer" data-country="Taiwan">Acer</option>
<option value="alcatel" data-country="France">Alcatel</option>
<option value="arm" data-country="UK">ARM</option>
<option value="asus" data-country="Taiwan">Asus</option>
<option value="audio_technica" data-country="Japan">Audio-Technica</option>
<option value="bang_olufsen" data-country="Denmark">Bang &amp; Olufsen</option>
<option value="bosch" data-country="Germany">Bosch</option>
<option value="buffalo_technology" data-country="Japan">Buffalo Technology</option>
<option value="betnew" data-country="China">BETNEW</option>
<option value="canon" data-country="Japan">Canon</option>
<option value="casio" data-country="Japan">Casio</option>
<option value="clarion" data-country="Japan">Clarion</option>
<option value="clevo" data-country="Taiwan">Clevo</option>
<option value="cubot" data-country="China">Cubot</option>
<option value="dji" data-country="China">DJI</option>
<option value="electrolux" data-country="Sweden">Electrolux</option>
<option value="ericsson" data-country="Sweden">Ericsson</option>
<option value="fujifilm" data-country="Japan">Fujifilm</option>
<option value="fujitsu" data-country="Japan">Fujitsu</option>
<option value="haier" data-country="China">Haier</option>
<option value="hisense" data-country="China">Hisense</option>
<option value="huawei" data-country="China">Huawei</option>
<option value="infineon" data-country="Germany">Infineon</option>
<option value="iriver" data-country="South Korea">iRiver</option>
<option value="jabra" data-country="Denmark">Jabra</option>
<option value="jvc" data-country="Japan">JVC</option>
<option value="just5" data-country="Latvia">Just5</option>
<option value="kenwood" data-country="Japan">Kenwood</option>
<option value="konka" data-country="China">Konka</option>
<option value="kyocera" data-country="Japan">Kyocera</option>
<option value="lenovo" data-country="China">Lenovo</option>
<option value="lg" data-country="South Korea">LG</option>
<option value="logitech" data-country="Switzerland">Logitech</option>
<option value="mabe" data-country="Mexico">Mabe</option>
<option value="makeblock" data-country="China">Makeblock</option>
<option value="makita" data-country="Japan">Makita</option>
<option value="medion" data-country="Germany">Medion</option>
<option value="mikrotik" data-country="Latvia">MikroTik</option>
<option value="nec" data-country="Japan">NEC</option>
<option value="nxp" data-country="Netherlands">NXP</option>
<option value="olympus" data-country="Japan">Olympus</option>
<option value="omron" data-country="Japan">Omron</option>
<option value="oneplus" data-country="China">OnePlus</option>
<option value="oppo" data-country="China">Oppo</option>
<option value="onkyo" data-country="Japan">Onkyo</option>
<option value="panasonic" data-country="Japan">Panasonic</option>
<option value="pioneer" data-country="Japan">Pioneer</option>
<option value="positivo" data-country="Brazil">Positivo</option>
<option value="qnap" data-country="Taiwan">QNAP</option>
<option value="realme" data-country="China">Realme</option>
<option value="ricoh" data-country="Japan">Ricoh</option>
<option value="realtek" data-country="Taiwan">Realtek</option>
<option value="sanyo" data-country="Japan">Sanyo</option>
<option value="sennheiser" data-country="Germany">Sennheiser</option>
<option value="siemens" data-country="Germany">Siemens</option>
<option value="sigma" data-country="Japan">Sigma</option>
<option value="sk_hynix" data-country="South Korea">SK Hynix</option>
<option value="sony" data-country="Japan">Sony</option>
<option value="soundcore" data-country="China">Soundcore</option>
<option value="synology" data-country="Taiwan">Synology</option>
<option value="tdk" data-country="Japan">TDK</option>
<option value="technisat" data-country="Germany">TechniSat</option>
<option value="teclast" data-country="China">Teclast</option>
<option value="tecno" data-country="China">Tecno</option>
<option value="thermaltake" data-country="Taiwan">Thermaltake</option>
<option value="toshiba" data-country="Japan">Toshiba</option>
<option value="tp_link" data-country="China">TP-Link</option>
<option value="umidigi" data-country="China">Umidigi</option>
<option value="vertu" data-country="UK">Vertu</option>
<option value="wacom" data-country="Japan">Wacom</option>
<option value="wiko" data-country="France">Wiko</option>
<option value="xiaomi" data-country="China">Xiaomi</option>
<option value="yamaha" data-country="Japan">Yamaha</option>
<option value="yealink" data-country="China">Yealink</option>
<option value="zte" data-country="China">ZTE</option>
<option value="zyxel" data-country="Taiwan">ZyXEL</option>